[Unit]
Description=Apache Zookeeper server
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=forking
SyslogIdentifier=zookeeper
EnvironmentFile=-/etc/sysconfig/zookeeper
User=zookeeper
Group=zookeeper
Restart=always
RestartSec=1s
LimitFSIZE=infinity
LimitCPU=infinity
LimitAS=infinity
LimitMEMLOCK=infinity
LimitNOFILE=365536
LimitNPROC=365536
Environment=JAVA_HOME=/usr/java/default
ExecStart=/bin/zk-server start
ExecStop=/bin/zk-server stop
ExecReload=/bin/zk-server restart
StandardOutput=journal
StandardError=journal
SuccessExitStatus=130
KillSignal=SIGINT
ProtectSystem=full

[Install]
WantedBy=multi-user.target
